.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#0b7285;
padding:15px 30px;
color:white;
}

.logo{
font-size:20px;
}

.nav-links{
display:flex;
gap:20px;
align-items:center;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:bold;
}

.logout-btn{
background:#ff6b6b;
border:none;
padding:6px 12px;
color:white;
border-radius:5px;
cursor:pointer;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#0b7285;
padding:15px 30px;
color:white;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:bold;
}

.logout-btn{
background:#ff6b6b;
border:none;
padding:6px 12px;
color:white;
border-radius:5px;
cursor:pointer;
}